<div class="sidebar">
    <div class="text-center my-4">
        <h4><a class="text-light letter-spacing" href="/dashboard">Admin Dashboard</a></h4>
    </div>
    <div class="text-center my-4">
        <h4><a class="text-light letter-spacing" href="/admin/addDish">Add New Dish</a></h4>
    </div>
    <div class="text-center my-4">
        <h4><a class="text-light letter-spacing" href="/admin/dishMenus/1">Show food table</a></h4>
    </div>
    <div class="text-center my-4">
        <h4><a class="text-light letter-spacing" href="/admin/adminOrder/1">User Orders</a></h4>
    </div>
    <div class="text-center my-4">
        <h4><a class="text-light letter-spacing" href="#">View Employee</a></h4>
    </div>
    <div class="text-center my-4">
        <h4><a class="text-light letter-spacing" href="/logout">Logout</a></h4>
    </div>
</div>