<ul class="nav justify-content-center userNavBar text-center">
    <li class="nav-item">
        <a class="nav-link text-light" aria-current="page" href="/dashboard">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" aria-current="page" href="/user/orders">Orders</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" aria-current="page" href="/user/orderFood">Basket</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" aria-current="page" href="/user/history">History</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" aria-current="page" href="/logout">Logout</a>
    </li>

</ul>