<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new dish</title>
</head>

<body>
    {{>navbar loginUser=loginUser}}

    <section>
        <div class="container-fluid">
            <div class="">
                <div class="row">
                    <div class="col-md-3">
                        <!-- sidebar -->
                        {{>sidebar}}
                    </div>
                    <div class="col-md-9 ">
                        <div class="adminPanel card">
                            <div class="text-center my-1">
                                <h4><span class="primary-color">FOODIES</span> New Dish.</h4>
                            </div>
                            <div class="mb-4 mt-2 mx-2">
                                <div class="row">
                                    <div class="col-md-8 offset-md-2 shadow">

                                        <form action="/saveDish" method="post" enctype="multipart/form-data">
                                            <input name="dname" type="text" class="my-2 form-control"
                                                placeholder="Enter dish name">
                                            <input name="dtype" type="text" class="my-2 form-control"
                                                placeholder="Enter dish type">

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input name="dprice" type="text" class="my-2 form-control"
                                                        placeholder="Enter dish price">
                                                </div>
                                                <div class="col-md-6">
                                                     <input name="dserve" type="text" class="my-2 form-control"
                                                placeholder="Enter dish serve contity..">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                   <input name="dtime" type="text" class="my-2 form-control"
                                                placeholder="Enter required time">
                                                </div>
                                                <div class="col-md-6">
                                                     <input name="ddiscount" type="text" class="my-2 form-control"
                                                placeholder="Enter discount ..." min="0" max="100">
                                                </div>
                                            </div>

                                            
                                            <label class="my-2" for="photo">Food Pic : </label>
                                            <input type="file" name="photo" id="photo">
                                            <textarea class="my-2 form-control" name="discription" id="" cols="30"
                                                rows="4"></textarea>
                                            <div class="text-right">
                                                <button class="main-btn my-2 mx-2">Add Food</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>

</html>
{{#if save}}
<script>
    Swal.fire({
        title: 'New Dish Added!',
        text: 'Dish is added to outr menu card...',
        icon: 'success',
        confirmButtonText: 'OK'
    })
</script>
{{/if}}

{{#if notsave}}
<script>
    Swal.fire({
        title: 'Something is wrong!',
        text: 'Please fill the important information. dish is not save to our menu card...',
        icon: 'error',
        confirmButtonText: 'Cancel'
    })
</script>
{{/if}}