<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Foodies</title>
  
</head>

<body>
  {{>navbar loginUser=loginUser}}
  
  <section id="/">
    <div class="container-fluid px-0 top-banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6">
            <h1>Good Food Choise Are Good Health...</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, provident. Ipsa ipsam nisi ut ducimus
              consectetur molestiae molesti</p>
            <div class="mt-4">
              <button class="main-btn">Order now <i class="fas fa-shopping-basket ps-3"></i></button>
              <button class="white-btn">Order now <i class="fas fa-angle-right ps-3"></i></button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="counter">
    <section class="counter-section">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
            <h2>
              <span id="count1">4568</span>+
            </h2>
            <p>SAVINGS</p>
          </div>
          <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
            <h2>
              <span id="count2">675</span>+
            </h2>
            <p>PHOTOS</p>
          </div>
          <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
            <h2>
              <span id="count3">567</span>+
            </h2>
            <p>FOODS</p>
          </div>
          <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
            <h2>
              <span id="count4">5673</span>+
            </h2>
            <p>CUSTOMERS</p>
          </div>
        </div>
      </div>
    </section>
  </section>

  <section id="about" class="my-5">
    <div class="container">
      <div class="row">
        <div class="card col-md-7 ">
          <img src="/static/image/img/img-1.png" class="img-fluid py-2" alt="">
        </div>
        <div class="col-md-5 mt-md-5 mt-1">
          <h2>We Pride Outserves On Making Real Food The Best Ingredients.</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora eligendi adipisci commodi ullam,</p>
          <button class="main-btn">Learn More</button>
        </div>
      </div>
    </div>
  </section>

  <section id="service" class="container">
    <div class="row">
      <div class="col-md-5 mt-md-5 pt-md-5">
        <h2>We Make Everything By Hand With The Best Possible Ingredients.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum non enim, error laudantium voluptatem, facilis
          facere necessitatibus cupiditate ullam quod unde soluta molestiae optio consequuntur!</p>
        <div class="checks">
          <span><i class="fa fa-check"></i> Lorem ipsum dolor sit amet.</span><br>
          <span><i class="fa fa-check"></i> Lorem ipsum dolor amet.</span><br>
          <span><i class="fa fa-check"></i> Lorem ipsum dolor sit amet.</span>
        </div>
        <button class="main-btn">Learn More</button>
      </div>
      <div class="col-md-7">
        <img src="/static/image/img/img-2.png" class="img-fluid" alt="">
      </div>
    </div>
  </section>

  <section id="exploreFood">
    <section class="container my-5">
      <div class="text-center mx-md-5 px-md-5">
        <h2 class="pb-0 mb-0">Explore Our Foods</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores fugiat quidem facilis enim aliquam
          possimus ipsa, minus suscipit rerum molestiae recusandae. Tempore neque, provident id veniam consectetur
          soluta repudiandae rerum?</p>
      </div>
      <div class="row my-5 ">
        <div class="col-md-4">
          <div class="card ">
            <img src="/static/image/img/img-3.jpg" class="img-fluid mb-2" alt="">
            <h4>Rainbow Vegetable Sandwich</h4>
            <p class="text-color">Time : 15-20 Minutes | Server 1</p>
            <h2 class="primary-color mb-3"> <i class="fa fa-usd"></i>10.50 <del class="text-muted"><i
                  class="fa fa-usd"></i>11.70</del></h2>
            <div>
              <button class="main-btn">Order Now</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card ">
            <img src="/static/image/img/img-4.jpg" class="img-fluid mb-2" alt="">
            <h4>Vegeterian Burger</h4>
            <p class="text-color">Time : 30-35 Minutes | Server 1</p>
            <h2 class="primary-color mb-3"> <i class="fa fa-usd"></i>9.50 <del class="text-muted"><i
                  class="fa fa-usd"></i>10.50</del></h2>
            <div>
              <button class="main-btn">Order Now</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card ">
            <img src="/static/image/img/img-5.jpg" class="img-fluid mb-2" alt="">
            <h4>Raspberry Stuffed French Toast</h4>
            <p class="text-color">Time : 15-20 Minutes | Server 1</p>
            <h2 class="primary-color mb-3"> <i class="fa fa-usd"></i>7.30 <del class="text-muted"><i
                  class="fa fa-sd"></i>10.70</del></h2>
            <div>
              <button class="main-btn">Order Now</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>


  <section id="testinomial">
    <div class="container my-5 mx-md-5 px-md-5">

      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>

        </div>
        <div class="carousel-inner">
          <div class="carousel-item text-center active">
            <img style="width:150px;height:auto;border-radius:50%" src="/static/image/review/review-1.jpg" alt="...">
            <div class="my-4">
              <h4 class="">John K Leone</h4>
              <p class="text-light">Some representative placeholder content for the first slide Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Nesciunt perferendis qui exercitationem deleniti sed obcaecati..</p>
            </div>
          </div>
          <div class="carousel-item text-center ">
            <img style="width:150px;height:auto; border-radius:50%" src="/static/image/review/review-2.jpg" alt="...">
            <div class="my-4">
              <h4 class="">Nancy Whiller</h4>
              <p class="text-light">Some representative placeholder content for the first slide Lorem ipsum dolor sit amet consectetur
                deleniti Lorem, ipsum dolor sit amet consectetur adipisicing elit. sed obcaecati..</p>
            </div>
          </div>


        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
  </section>

  <section id="subscription">
    <div class="container">
      <div class="text-center">
        <h2 class="mb-0">Hurry Up! Subscribe Our Newsletter And Get 25% Off</h2>
        <p class="text-color">Limmited time offer for this month. No creadit card required.</p>
        <div class="text-center my-5">
          <form action="">
            <div class="row">
              <div class="col-md-4 offset-md-3 ">
                          <input class="mt-1 form-control" type="text" placeholder="Enter Email Id...">
              </div>
               <div class="col-md-2 mt-2 ">
                       <button class="main-btn">Subscribe</button>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section id="footer">

    <div class="text-center">
      <a href="">Resiter</a>
      <a href="">Forum</a>
      <a href="">Affilate</a>
      <a href="">FAQ</a><br>
      <small class="mt-5 text-light">@ 2022. Foodie. All rights reserved.</small>
    </div>
  </section>

 
</body>

</html>